app/backend/n8n/Liftoff_Data.json
{
  "name": "Liftoff Data",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH category_top_products AS (\n    SELECT \n        p.categoria,\n        s.name_product,\n        p.description,\n        p.price,\n        COUNT(s.id) AS total_sales\n    FROM sales AS s\n    INNER JOIN products AS p ON p.name = s.name_product\n    WHERE s.date >= CURRENT_DATE - INTERVAL '3 month'\n    GROUP BY p.categoria, s.name_product, p.description, p.price\n    ORDER BY p.categoria, total_sales DESC\n),\ncustomer_last_purchase AS (\n    SELECT \n        s.email_customer,\n        s.first_name,\n        s.last_name,\n        s.phone_number,\n        s.name_product AS last_purchased_product,\n        p.categoria AS last_purchased_category\n    FROM sales AS s\n    INNER JOIN products AS p ON p.name = s.name_product\n    WHERE s.date >= CURRENT_DATE - INTERVAL '3 days'\n),\nrecommended_products AS (\n    SELECT \n        clp.email_customer,\n        clp.first_name,\n        clp.last_name,\n        clp.phone_number,\n        clp.last_purchased_product,\n        clp.last_purchased_category,\n        ctp.name_product AS recommended_product,\n        ctp.description AS recommended_description,\n        ctp.price AS recommended_price\n    FROM customer_last_purchase AS clp\n    INNER JOIN category_top_products AS ctp \n        ON clp.last_purchased_category = ctp.categoria\n        AND clp.last_purchased_product <> ctp.name_product\n)\nSELECT DISTINCT ON (email_customer) *\nFROM recommended_products\nwhere email_customer = 'tsffarias@gmail.com'\nORDER BY email_customer, recommended_price DESC;",
        "options": {}
      },
      "id": "7c155b5d-ef5b-4d2e-a6d9-3c20a6b0fece",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        520,
        260
      ],
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "iAHEgvwx3nJ69PCU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"audience sent successfully\"\n}",
        "options": {}
      },
      "id": "85dfac52-30e0-4b2a-981f-9be0ce7dfd70",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        260
      ]
    },
    {
      "parameters": {
        "fromEmail": "tsffarias@gmail.com",
        "toEmail": "={{ $json.output.email_customer }}",
        "subject": "Recomendação Especial Liftoff Data",
        "html": "=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Recomendação Personalizada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f4f4f4;\n            margin: 0;\n            padding: 0;\n            color: #333;\n        }\n        .email-container {\n            max-width: 600px;\n            margin: 20px auto;\n            background-color: #fff;\n            padding: 20px;\n            border-radius: 10px;\n            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);\n        }\n        .header {\n            text-align: center;\n            padding: 10px 0;\n        }\n        .header h1 {\n            color: #0056b3;\n        }\n        .product-section {\n            margin: 20px 0;\n        }\n        .product-section h2 {\n            color: #0056b3;\n        }\n        .product-card {\n            display: flex;\n            align-items: center;\n            background-color: #f9f9f9;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            padding: 10px;\n            margin-top: 10px;\n        }\n        .product-card img {\n            max-width: 100px;\n            margin-right: 20px;\n            border-radius: 5px;\n        }\n        .product-info {\n            flex-grow: 1;\n        }\n        .product-info h3 {\n            margin: 0;\n            color: #333;\n        }\n        .product-info p {\n            margin: 5px 0;\n        }\n        .cta {\n            text-align: center;\n            margin: 20px 0;\n        }\n        .cta a {\n            background-color: #0056b3;\n            color: #fff;\n            text-decoration: none;\n            padding: 10px 20px;\n            border-radius: 5px;\n            font-size: 16px;\n        }\n        .cta a:hover {\n            background-color: #003d80;\n        }\n        .footer {\n            text-align: center;\n            font-size: 12px;\n            color: #777;\n            margin-top: 20px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"header\">\n            {{ $json.output.copy }}\n        </div>\n        <div class=\"product-section\">\n            <div class=\"product-card\">\n                <img src=\"https://via.placeholder.com/100\" alt=\"Imagem do Produto\">\n                <div class=\"product-info\">\n                    <h3>{{ $json.output.recommended_product }}</h3>\n                    <p>{{ $json.output.recommended_description }}</p>\n                    <p><strong>Preço:</strong> R$ {{ $json.output.recommended_price }}</p>\n                </div>\n            </div>\n        </div>\n        <div class=\"cta\">\n            <a href=\"https://example.com/produto/{{ $json.output.recommended_product }}\" target=\"_blank\">Ver Mais Detalhes</a>\n        </div>\n        <div class=\"footer\">\n            <p>Você recebeu este e-mail porque comprou o produto {{ $json.output.last_purchased_product }} conosco recentemente.</p>\n            <p>Se preferir, pode gerenciar suas preferências de comunicação <a href=\"https://example.com/unsubscribe\" target=\"_blank\">aqui</a>.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "a391438b-8dca-4b5c-8bb0-280c29a446a0",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1080,
        260
      ],
      "credentials": {
        "smtp": {
          "id": "EenOi01bShBa2g34",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "71ec07c6-dcc0-49f6-9344-61a5b045919a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        700,
        440
      ],
      "credentials": {
        "openAiApi": {
          "id": "82HYYDvd55Y91fDr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "path": "71601a84-5e3d-4780-97f8-b74fc473e6ba",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8b9e87eb-27bc-4cf9-8154-3e6bbb7d0034",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        260
      ],
      "webhookId": "71601a84-5e3d-4780-97f8-b74fc473e6ba"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"email_customer\":\"tsffarias@gmail.com\",\"first_name\":\"Thiago\",\"last_purchased_product\":\"ZapFlow com Gemini\",\"last_purchased_category\":\"Eletrônico\",\"recommended_product\":\"ZapFlow com Llama3.0\",\"recommended_description\":\"Produto para disparo de mensagens automatizadas com Llama3.0\",\"recommended_price\":300,\"copy\":\"Olá Thiago! 🚀 Você já conhece o ZapFlow com Llama3.0? É a solução perfeita para automatizar suas mensagens! Por apenas R$300, ele vai facilitar sua vida. Aproveite e potencialize suas comunicações! Faça seu pedido hoje!\"}"
      },
      "id": "1f252b44-d32e-4a52-80b0-103e26d9d3ca",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        940,
        440
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um especialista em Copy e Email marketing.\nUtilizando as informações a seguir, gere um copy para um email marketing para engajar o cliente a comprar a recomendação do produto. Você tem a regra de gerar um copy com até 500 caracteres, e também pode usar emojis:\n- email_customer: {{ $json.email_customer }}\n- first_name: {{ $json.first_name }}\n- last_purchased_product: {{ $json.last_purchased_product }}\n- recommended_product: {{ $json.recommended_product }}\n- recommended_description: {{ $json.recommended_description }}\n- recommended_price: {{ $json.recommended_price }}\n\nRetorne o texto copy com tags html <h1> e <p> em um novo campo json chamado \"copy\" junto com os campos enviados acima.\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "88af375e-c01c-4d57-a0d7-5e7d78b41441",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        720,
        260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4e55f05e-8ad6-4e84-99e5-98da1f675f39",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1db6c456dd2c0caacf76e49338d6ea94928cd687caa24677e044db92e3309c5"
  },
  "id": "Vxms3PpiapSyQKZj",
  "tags": [
    {
      "createdAt": "2024-12-08T14:43:03.262Z",
      "updatedAt": "2024-12-08T14:43:03.262Z",
      "id": "BPCfUcbjgLnEdTtx",
      "name": "audiencia_top_produtos"
    }
  ]
}